<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=user.username%>'s Profile</h1>

    <main>
      <section>


        <% if (user.brewery.length < 1) { %>
          <p><%=user.username%> hasn't been to any breweries.</p>
        <% } %>


        <ul>
          <% for (let i = 0; i < user.brewery.length; i++) { %>
          <li>
            <%=user.brewery[i].brewery.name%>
          <% } %>
        </li>
      </ul>

        Username: <%=user.username%><br>
        Location: <%=user.location%>

      </section>
    </main>

    <form action='/users/<%=user.id%>?_method=DELETE' method='POST'>
      <input type='submit' value='Delete User'>
    </form>

    <a href='/users/<%=user.id%>/edit'>Edit this User</a>
  </body>
</html>
